<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentada na cadeira, estabilizou bem a coluna ao assento, os braços fica relaxados por fora da cadeira. Enche o pulmão de ar e vai soltando lentamente, braços vai la em cima entrelaçando os dedos,estique bem o corpo. </string>
			</array>
			<key>nome</key>
			<string>Espreguiçar</string>
			<key>imagens</key>
			<array>
				<string>S1_espreguicar_1.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Mãos posionadas na coxa  ombros relaxados, cabeça vai de um lado ao outro realizando uma rotação da cervical, queixo por cima do ombro. Aquecendo a musculadora com movimento dinâmico</string>
				<string>Movimento estático, mantem a cabeça em um dos lados parada e depois troque de lado.</string>
			</array>
			<key>nome</key>
			<string>Rotação da cabeça</string>
			<key>imagens</key>
			<array>
				<string>S1_rotacaocabeca_2.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Com as mão posicionadas na coxa, ombros relaxados e a coluna reta, force lentamente a cabeça para esquerda, tentando encostrar a orelha no ombro esquerdo.</string>
				<string>Faça o mesmo para o lado direito.
</string>
			</array>
			<key>nome</key>
			<string>Flexão lateral da cabeça</string>
			<key>imagens</key>
			<array>
				<string>S1_inclinacaocabeca_3.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, estique os braços para tras inspirando lentamente</string>
				<string>estique os braços para frente cruzando-os e exprire</string>
			</array>
			<key>nome</key>
			<string>Cruzar braços</string>
			<key>imagens</key>
			<array>
				<string>S1_cruzarbracos_4.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, estique os braços lentamente e os cruze logo acima da cabeça e inspire.</string>
				<string>Desca os braços lentamente até a altura dos obros e expire.
</string>
			</array>
			<key>nome</key>
			<string>Abdução ombros</string>
			<key>imagens</key>
			<array>
				<string>S1_abducaoombro_5.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, erga o braço esquerdo e o force lentamente para direita e inspire.</string>
				<string>Volte o braço ao centro acima da cabeça , erga o outr braço e expire</string>
				<string>Repita o movimento com o braço direito.</string>
			</array>
			<key>nome</key>
			<string>Flexão tronco</string>
			<key>imagens</key>
			<array>
				<string>S1_flexaotronco_6_v2.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, erga os braços na altura dos ombros</string>
				<string>Gire o tronco lentamente para esquerda.</string>
				<string>Gire o tronco lentamente para direita</string>
			</array>
			<key>nome</key>
			<string>Rotação Tronco</string>
			<key>imagens</key>
			<array>
				<string>S1_rotacaotronco_7.png</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, erga os dois braços para o alto e inspire.</string>
				<string>Desça lentamente os braços, abrace as suas coxas e expire.</string>
			</array>
			<key>nome</key>
			<string>Espreguiçar</string>
			<key>imagens</key>
			<array>
				<string>S2_E1_0_espreguicar.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna reta, erga a mão esquerda para frente, estique o polegar e o force lentamente em direção do seu punho esquerdo.</string>
				<string>Repita o movimento com a mão direita.</string>
			</array>
			<key>nome</key>
			<string>Variação extensão punho</string>
			<key>imagens</key>
			<array>
				<string>S2_E2_0_rotacaoCabeca.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, encoste as pontas dos seus dedos da mão esquerda no ombro esquerdo.</string>
				<string>Incline seu troco para direita lentamente, encoste as pontas dos dedos da mão direita no ombro direito.</string>
				<string>Incline lentamente o seu tronco para o lado esquerdo.</string>
			</array>
			<key>nome</key>
			<string>Flexão lateral</string>
			<key>imagens</key>
			<array>
				<string>S2_E3_0_rotacaoCabeca.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, estique o braço esquerdo para frente e o direito para trás,de maneira alternada leves os braços para frente e para trás.</string>
			</array>
			<key>nome</key>
			<string>Braços alternados</string>
			<key>imagens</key>
			<array>
				<string>S2_E4_0_cruzarBracos.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, erga o braço esquerdo, segure o punho esquerdo atras da sua cabeça e lentamente force para direita e Repita o movimento com o outro braço</string>
			</array>
			<key>nome</key>
			<string>Deslocamento lateral dos braços</string>
			<key>imagens</key>
			<array>
				<string>S2_E5_0_abducaoOmbros.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>Sentado na cadeira e com a coluna ereta, erga os braços na altura dos ombros, dobre os cotovelos de forma que aponte as pontas dos dedos para frente, lentamente force os cotovelos para trás e volte para centro.</string>
			</array>
			<key>nome</key>
			<string>Flexão dos braços</string>
			<key>imagens</key>
			<array>
				<string>S2_E6_0_flexaoOmbro.jpg</string>
			</array>
		</dict>
	</array>
	<integer>0</integer>
</array>
</plist>
