<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Espreguiçar</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Circundução da cabeça</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Extensão da cabeça</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação dos ombros</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Peitoral</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
				<string>azul.png</string>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Extensão punho</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Abdução ombro</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
				<string>azul.png</string>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Ombro / Tríceps</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação tronco</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Flexão tronco</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Espreguiçar</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação da cabeça</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação da cabeça</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
				<string>azul.png</string>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Cruzar braços</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Abdução ombro</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Flexão tronco</string>
			<key>imagens</key>
			<array>
				<string>verde.png</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação do tronco</string>
			<key>imagens</key>
			<array>
				<string>azul.png</string>
				<string>verde.png</string>
				<string>azul.png</string>
			</array>
		</dict>
	</array>
	<integer>1</integer>
</array>
</plist>
