<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Espreguiçar</string>
			<key>imagens</key>
			<array>
				<string>S1_E1_0_espreguicar.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Circundução da cabeça</string>
			<key>imagens</key>
			<array>
				<string>S1_E2_0_circunducaoCabeca.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Extensão da cabeça</string>
			<key>imagens</key>
			<array>
				<string>S1_E3_0_extencaoCabeca.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação dos ombros</string>
			<key>imagens</key>
			<array>
				<string>S1_E4_0_rotacaoOmbro.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Peitoral</string>
			<key>imagens</key>
			<array>
				<string>S1_E5_0_peitoral.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Extensão punho</string>
			<key>imagens</key>
			<array>
				<string>S1_E6_0_punho.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Abdução ombro</string>
			<key>imagens</key>
			<array>
				<string>S1_E7_0_abducaoOmbros.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Ombro / Tríceps</string>
			<key>imagens</key>
			<array>
				<string>S1_E8_0_ombros.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação tronco</string>
			<key>imagens</key>
			<array>
				<string>S1_E9_0_rotacaoTronco.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Flexão tronco</string>
			<key>imagens</key>
			<array>
				<string>S1_E10_0_flexaoTronco.jpg</string>
			</array>
		</dict>
	</array>
	<array>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Espreguiçar</string>
			<key>imagens</key>
			<array>
				<string>S2_E1_0_espreguicar.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação da cabeça</string>
			<key>imagens</key>
			<array>
				<string>S2_E2_0_rotacaoCabeca.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação da cabeça</string>
			<key>imagens</key>
			<array>
				<string>S2_E3_0_rotacaoCabeca.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Cruzar braços</string>
			<key>imagens</key>
			<array>
				<string>S2_E4_0_cruzarBracos.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Abdução ombro</string>
			<key>imagens</key>
			<array>
				<string>S2_E5_0_abducaoOmbros.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Flexão tronco</string>
			<key>imagens</key>
			<array>
				<string>S2_E6_0_flexaoOmbro.jpg</string>
			</array>
		</dict>
		<dict>
			<key>orientacao</key>
			<array>
				<string>orientacao 1</string>
				<string>orientacao 2</string>
			</array>
			<key>nome</key>
			<string>Rotação do tronco</string>
			<key>imagens</key>
			<array>
				<string>S2_E7_0_rotacaoTronco.jpg</string>
			</array>
		</dict>
	</array>
	<integer>0</integer>
</array>
</plist>
